<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApicmpyrM3-sgE1SqsClN3IIWVaNECYZo</string>
	<key>GCM_SENDER_ID</key>
	<string>248602090689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>davidchilingaryan.DeliverflyDavidChilingaryan</string>
	<key>PROJECT_ID</key>
	<string>deliverflydavidchilingaryan</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverflydavidchilingaryan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248602090689:ios:017c1b5968daa3dd2a8840</string>
</dict>
</plist>